<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.krowemohl.mapper.BookTypeMapper">

    <select id="selectByPrimaryKey" resultType="BookType">
        SELECT * FROM book_type WHERE id = #{id};
    </select>

</mapper>